* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    border: 1px solid black;
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 50px;
        width: auto;
        cursor: pointer;
    }

    .search {
        display: flex;
        gap: 10px;
        position: relative;
        align-items: center;

        input {
            padding: 5px;

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 0 5px;
            cursor: pointer;
            position: absolute;
            right: 3px;
            border: none;
            background: none;
        }
    }

    .menu {
        display: flex;
        gap: 30px;
    }

    .icons {
        display: flex;
        gap: 20px;

        img {
            cursor: pointer;
        }
    }
}